<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeFormatter</title>
</head>
<body>
<div class="container">
    <h1>Code Formatter</h1><html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <form action="/format" method="post" class="code-form">

        <label for="code">Twój kod:</label>
        <textarea id="code" name="code" placeholder="kod, który ma być sformatowany" rows="20"></textarea>
        <button>Formatuj</button>
    </form>
</div>
</body>
</html>